/* unversal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*end of unversal */

/* nav */
nav{
    /* background: black; */
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: white
 }
 nav ul li{
     list-style: none;
     display: inline-block;
 }
 
 nav ul li a{
     text-decoration: none;
     color:  blue;
     text-transform: uppercase;
     margin: 40px;
     font-size: 1.1rem;
     transition: color .2s linear;
 }
 nav ul li a:hover{
     color: rgb(147, 187, 247);
 }
 nav ul li .nav-item{
     margin-left: 52px;
 }
 nav ul li a img{
     height: 60px;
     display: inline-block;
     margin-right: 170px;
 }
 /* end of nav */
 

 /* our school */
#school{
    width: 100%;
    height: 130vh;
    margin-top: 10vh;
}
#school .sch-img{
    width: 100%;
    height: 70vh;
    margin-top: 12vh;
    position: relative;
    z-index: 2;
}
#school .sch-img::after{
    content: "";
    width: 100%;
    height: 70vh;
    background: rgb(8, 4, 32); 
    opacity: .9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#school .sch-img img{
    display: inline-block;
    width: 100%;
    height: 70vh;
    opacity: .2;
    position: fixed;
}
#school .content{
    width: 70%;
    margin: 50px auto; 
    text-align: center;
}
#school .content h1{
    font-size: 2rem;
    color: blue;
    margin-bottom: 4px;
    font-weight: 900;
}
#school .content .line{
    width: 50%;
    height: 7px;
    background: blue;
    margin: 10px auto;
} 
#school .content p{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5rem;
    color: blue;
    margin-top: 50px;
}
 /* end of our school */

 /* qualities */
#qualities{
    width: 100%;
    height: 100vh;
}
#qualities h1{
    text-align: center;
    color: blue;
    font-size: 3rem;
}
#qualities .quality-content{
    width: 100%;
    height: 100%;
    background: white;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
}
#qualities .quality-content .quality{
    width: 100%;
    display: flex;
    text-align: center;
    margin: 20px auto;
}
#qualities .quality-content .quality .let{
    margin: 10px 50px;
}
#qualities .quality-content .quality .let h2{
    color: blue;
    font-size: 1.8rem
}
#qualities .quality-content .quality .let p{
    color: rgb(27, 27, 204);
    font-weight: 700;
    margin: 10px 50px;
}

#qualities .quality-content .quality img{
    display: inline-block;
    width: 310px;
    height: 270px;
    opacity: 1;
}
 /* end of qualities */


 /* founder */
#founder{
    width: 100%;
    height: 80vh;
    margin-top: 110vh;
} 
#founder h1{
    text-align: center;
    font-size: 3rem;
    color: blue;
}
#founder .founder-content{
    margin: 20px 50px;
    height: 80%;
    padding: 50px;
    display: flex;
}
#founder .founder-content img{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-right: 30px;
}
#founder .founder-content .img{
    width: 300px;
    margin-right: 30px;
    height: 300px;
    box-sizing: border-box;
    opacity: 1;
    position: relative;
    z-index: 1
}
#founder .founder-content .img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    left: -20px;
    background:  blue;
    z-index: -1
}
#founder .founder-content .img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40px;
    left: -40px;
    border: 3px solid blue;
    z-index: -2;
}
#founder .founder-content p{
    margin: 0 100px;
    color: blue;
    line-height: 1.8rem;
}
 /* end of founder */


/* contact */
#contact{
    width: 100%;
    height: 100vh;
}
#contact h1{
    font-size: 3rem;
    color: blue;
    text-align: center;
}
#contact h3{
    text-align: center;
    margin: 10px;
    color: blue;
    font-size: 1.3rem;
}
#contact .contact-con {
    width: 100%;
    height: 400px;
    display: flex;
}
#contact .contact-con .contact-content p{
    text-align: center;
    margin: 20px auto;
    font-size: 1.5rem;
    flex-wrap: wrap;
    box-sizing: border-box;
}
#contact .contact-con .contact-content{
    flex-basis: 30%;
    background: lightblue;
    border-top: 10px solid rgba(0, 0, 238, 0.4);
    border-bottom: 10px solid rgba(0, 0, 238, 0.4);
    margin: auto auto;
    overflow: hidden;
    height: 300px;
    padding: 50px;
    border-radius: 20px;
    cursor: pointer;
    transform: translate(4%, 4%);
    transition: transform .4s linear;
}
#contact .contact-con .contact-content .content-head{
    display: flex;
}
#contact .contact-con .contact-content .content-head h2{
    text-transform: uppercase;
    font-size: 2rem;
    margin: 20px auto;
}
#contact .contact-con .contact-content .content-head .contact-img{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50%;
}
#contact .contact-con .contact-content .content-head img{
    display: inline-block;
    height: 70px;
    margin: 8px 12px
}
/* end of contact */

/* footer */

footer{
    width: 100%;
    height: 200px;
    background: blue;
    padding: 20px;
    text-align: center;
}

footer .underline{
    width: 50px;
    height: 2px;
    background: white;
    margin: 10px auto;

}

footer .contain img{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px auto;
}
footer p{
   margin: 10px;
   color: white
}
/* end of footer */


 /* classes */
.line{
    width: 50%;
    height: 7px;
    background: blue;
    margin: 10px auto;
} 
 /* end of classes */