/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden; 
}
/* end of universal */


 /* admissions */
 /* creche */
 #admissions .creche{
    width: 110vw;
    height: 100vh;
    margin-top: 5rem;
    margin-bottom: 3rem;
    background: linear-gradient(to right, blue, transparent), 
    url(../gallery/prim2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#admissions .creche .package{
    width: 50%;
    height: 100vh;
    text-align: center;
    padding: 20px;
    position: relative;
}
#admissions .creche .package h1{
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
#admissions .creche .package p{
    color: white;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
/* end of creche */

/* pre-nursery */
#admissions .pre-nursery{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, blue, transparent), 
    url(../gallery/crech2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    border-bottom: 50px solid white;
    position: relative;
}
#admissions .pre-nursery .stroke{
    position: absolute;
    right: 90%;
    transform: skewX(10deg);
}
#admissions .pre-nursery .package{
    width: 50%;
    height: 100vh;
    text-align: center;
    padding: 20px;
    position: absolute;
    right: 5%;
}
#admissions .pre-nursery .package h1{
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
#admissions .pre-nursery .package p{
    color: white;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
/* end of pre-nursery */

/* nursery */
#admissions .nursery{
    width: 110vw;
    height: 100vh;
    margin-bottom: 3rem;
    background: linear-gradient(to right, blue, transparent), 
    url(../gallery/prim2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#admissions .nursery .package{
    width: 50%;
    height: 100vh;
    text-align: center;
    padding: 20px;
    position: relative;
}
#admissions .nursery .package h1{
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
#admissions .nursery .package p{
    color: white;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
/* end of nursery */

/* primary */
#admissions .primary{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, blue, transparent), 
    url(../gallery/crech2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    border-bottom: 50px solid white;
    position: relative;
}
#admissions .primary .stroke{
    position: absolute;
    right: 90%;
    transform: skewX(10deg);
}
#admissions .primary .package{
    width: 50%;
    height: 100vh;
    text-align: center;
    padding: 20px;
    position: absolute;
    right: 5%;
}
#admissions .primary .package h1{
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
#admissions .primary .package p{
    color: white;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
/* end primary */


/* secondary */
#admissions .secondary{
    width: 110vw;
    height: 100vh;
    background: linear-gradient(to right, blue, transparent), 
    url(../gallery/prim2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#admissions .secondary .package{
    width: 50%;
    height: 100vh;
    text-align: center;
    padding: 20px;
    position: relative;
}
#admissions .secondary .package h1{
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
#admissions .secondary .package p{
    color: white;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}
/* end of secondary */

.stroke{
    background: white;
    height: 400px;
    width: 6px;
    position: absolute;
    top: 15%;
    right: 5%;
    transform: skewX(-10deg)
}
.btn{
    width: 250px;
    height: 38px;
    border: 2px solid white;
    display: inline-block;
    text-decoration: none; 
    text-align: center;
    padding-top: 3px;
    background: white;
    color: blue;
    border-radius: 20px;
    font-size: 1.1rem;
    position: relative;
    z-index: 43;
    transition: width .3s linear;
   }
   
   .btn:hover{
       cursor: pointer;
       width: 280px;
   }
 /* end of admissions */
